{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>
<head>
    <title>Vit Meals - User</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <style>

        .form0 {
            position: relative;
            left: 100px;
            right:100px;
        }
    </style>

</head>
<body>

<h2>Please input your information</h2>

<div class="form">
{{ wtf.quick_form(form) }}
</div>

<p><a href="{{url_for('index')}}"><i class="icon-laptop icon-large">Go to the calculator</i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="{{url_for('user')}}"><i class="icon-user icon-large">User</i></a>
</p>

</body>
</html>






{#

<p>A : {{A}}</p>
<p>B : {{B}}</p>
<p>C : {{C}}</p>
<p>D : {{D}}</p>
<p>BMR : {{BMR}}</p>
<p>TDEE : {{TDEE}}</p>
<p>protein : {{protein}}</p>
<p>fat : {{fat}}</p>
<p>carbs : {{carbs}}</p>

{{ form.hidden_tag() }}
     
    <p>{{ form.email.label }}
    {{ form.email }}</p>             
     
    <p>{{ form.gender.label }}
    {{ form.gender }}</p> 
     
    <p>{{ form.act.label }}
    {{ form.act }}</p>          

    <p>{{ form.weight.label }}
    {{ form.weight }}</p>          
     
    <p>{{ form.height.label }}
    {{ form.height }}</p> 

    <p>{{ form.goal.label }}
    {{ form.goal }}</p> 

    <p>{{ form.age.label }}
    {{ form.age }}</p> 

    {{ form.submit }}

    #}


{#

{{ wtf.quick_form(form) }}

<p>{{ wtf.form_field(form.email) }}</p>
<p>{{ form.gender.label }}
{{ wtf.form_field(form.gender) }}</p>
<p>{{ form.act.label }}
{{ wtf.form_field(form.act) }}</p>
<p>{{ wtf.form_field(form.weight) }}</p>
<p>{{ wtf.form_field(form.height) }}</p>
<p>{{ form.goal.label }}
{{ wtf.form_field(form.goal) }}</p>
<p>{{ wtf.form_field(form.age) }}</p>
{{ form.submit }}
#}
