{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Please input your information{% endblock %}

{#

{{ wtf.quick_form(form) }}

<p>{{ wtf.form_field(form.email) }}</p>
<p>{{ form.gender.label }}
{{ wtf.form_field(form.gender) }}</p>
<p>{{ form.act.label }}
{{ wtf.form_field(form.act) }}</p>
<p>{{ wtf.form_field(form.weight) }}</p>
<p>{{ wtf.form_field(form.height) }}</p>
<p>{{ form.goal.label }}
{{ wtf.form_field(form.goal) }}</p>
<p>{{ wtf.form_field(form.age) }}</p>
{{ form.submit }}
#}

{{ wtf.quick_form(form) }}


<p>A : {{A}}</p>
<p>B : {{B}}</p>
<p>C : {{C}}</p>
<p>D : {{D}}</p>
<p>BMR : {{BMR}}</p>
<p>TDEE : {{TDEE}}</p>
<p>protein : {{protein}}</p>
<p>fat : {{fat}}</p>
<p>carbs : {{carbs}}</p>

{#

{{ form.hidden_tag() }}
     
    <p>{{ form.email.label }}
    {{ form.email }}</p>             
     
    <p>{{ form.gender.label }}
    {{ form.gender }}</p> 
     
    <p>{{ form.act.label }}
    {{ form.act }}</p>          

    <p>{{ form.weight.label }}
    {{ form.weight }}</p>          
     
    <p>{{ form.height.label }}
    {{ form.height }}</p> 

    <p>{{ form.goal.label }}
    {{ form.goal }}</p> 

    <p>{{ form.age.label }}
    {{ form.age }}</p> 

    {{ form.submit }}

    #}